<!DOCTYPE html>
<html lang="en">
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>WSU Map Admin</title>
	<script src="socket.io/socket.io.js"></script>
	<script src="js/jquery-1.9.1.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/jquery-input-history.min.js"></script>
	<link href="css/bootstrap-tagsinput.css" rel="stylesheet">
	<link href="https://developers.google.com/maps/documentation/javascript/examples/default.css" rel="stylesheet">
    	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&v=3.exp&sensor=false"></script>
    	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<style>
		.weber-nav {
  			text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  			background-color: #563d7c;
  			border-color: #463265;
  			box-shadow: 0 1px 0 rgba(255,255,255,.1);
		}

		.weber-nav .navbar-collapse {
  			border-color: #463265;
		}
		.weber-nav .navbar-brand {
		  	color: #fff;
		}
		.weber-nav .navbar-nav > li > a {
		  	color: #cdbfe3;
		}
		.weber-nav .navbar-nav > li > a:hover {
		  	color: #fff;
		}
		.weber-nav .navbar-nav > .active > a,
		.weber-nav .navbar-nav > .active > a:hover {
		  	color: #fff;
		  	background-color: #463265;
		}
		.weber-nav .navbar-toggle {
		  	border-color: #563d7c;
		}
		.weber-nav .navbar-toggle:hover {
		  	background-color: #463265;
		  	border-color: #463265;
		}
		#node_editor label {
			font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-weight: normal;
		}
		#path_editor label {
			font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-weight: normal;
		}
	</style>





	<body>
	   	<div id="map-canvas"></div>

	   	<div id="mode" style="position:absolute;bottom:25px;right:50px;" class="btn btn-success">Insert Mode</div>


		<div ng-app="Nodes">
		<div ng-controller="NodeController">	
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  				<div class="modal-dialog">
    					<div class="modal-content">
      						<div class="modal-header">
        						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        						<h4 class="modal-title" id="myModalLabel">Add Label</h4>
      						</div>
      						<div class="modal-body">
        						<input type="text" class="form-control" /> 
      						</div>
      							<div class="modal-footer">
        							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        							<button type="button" class="btn btn-primary">Save changes</button>
      							</div>
    						</div>
  					</div>
				</div>

		
	 	<div style="position:absolute;top:25px;left:240px;">
			<div class="btn-group">
	  			<button type="button" class="btn btn-primary" ng-click="updateNode()"><span class="glyphicon glyphicon-map-marker"></span> &nbsp; Nodes</button>
	  			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	    				<span class="caret"></span>
	    				<span class="sr-only">Toggle Dropdown</span>
	  			</button>
	  			<ul class="dropdown-menu" role="menu">
	    				<li><a href="#" data-toggle="modal" data-target="#myModal">Add Destination</a></li>
	    				<li><a href="#">Another action</a></li>
	    				<li><a href="#">Something else here</a></li>
	    				<li class="divider"></li>
	    				<li><a href="#">Separated link</a></li>
	  			</ul>
			</div>
		</div>

	 	<div style="position:absolute;top:25px;left:380px;">
			<div class="btn-group">
	  			<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-road"></span> &nbsp; Paths</button>
	  			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	    				<span class="caret"></span>
	    				<span class="sr-only">Toggle Dropdown</span>
	  			</button>
	  			<ul class="dropdown-menu" role="menu">
	    				<li><a href="#">Action</a></li>
	    				<li><a href="#">Another action</a></li>
	    				<li><a href="#">Something else here</a></li>
	    				<li class="divider"></li>
	    				<li><a href="#">Separated link</a></li>
	  			</ul>
			</div>
		</div>
		<!-- hide this until a node is selected change content or display diffrent editor for relationships -->
		<div id="path_editor" style="border-radius:0 8px 0 0;color:#aaa;background-color:#444;position:absolute;bottom:0px;width:420px;left:0px;">	
			<div style="margin:20px 10px 10px 10px;">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: normal">Name</label>
						<div class="col-sm-10">
							<input id="path_name" type="text" class="form-control" ng-model="path.name"></input>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">types</label>
						<div class="col-sm-10">
							<input id="path_type" type="text" class="form-control" ng-model="path.type"  free-input="true" taginput></input>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">tags</label>
						<div class="col-sm-10">
							<input id="path_tags" type="text" class="form-control" ng-model="path.tags"  free-input="true" taginput></input>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id="node_editor" style="border-radius:0 8px 0 0;color:#aaa;background-color:#444;position:absolute;bottom:0px;width:420px;left:0px;">	
			<div style="margin:20px 10px 10px 10px;">
				
				<form id="node_editor_form" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: normal">Name</label>
						<div class="col-sm-10">
							<input id="name" type="text" class="form-control" ng-model="node.name"></input>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Node id</label>
						<div class="col-sm-10">
							<input id="nodeid" type="text" class="form-control" ng-model="node.nodeid" ng-disabled="true" free-input="false"></input>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">tags</label>
						<div class="col-sm-10">
							<input id="tags" type="text" class="form-control" ng-model="node.tags"  free-input="true" taginput></input>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">labels</label>
						<div class="col-sm-10">
							<input id="labels" type="text" class="form-control" ng-model="node.labels"  free-input="true" taginput></input>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"><b>Properties</b></label>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">level</label>
						<div class="col-sm-10">
							<input id="level" type="text" class="form-control" ng-model="node.level"></input>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">type</label>
						<div class="col-sm-10">
							<input id="type" type="text" class="form-control" ng-model="node.type"></input>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">abbrv</label>
						<div class="col-sm-10">
							<input id="abbrv" type="text" class="form-control" ng-model="node.abbrv"></input>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">active</label>
						<div class="col-sm-10">
							<div class="checkbox">
								<input id="active" type="checkbox"  ng-model="node.active" />
							</div>
						</div>
					</div>
					<button id="node_editor_save" class="btn btn-primary pull-right">Save</button>
					<button id="node_editor_close" class="btn pull-right">Close</button>
				</form>
				<!--<input type="text" class="form-control" placeholder="Search"></input>
				<br/>
				<input type="text" class="form-control" placeholder="Search"></input>-->
			</div>
		</div>
		<div style="position:absolute;top:25px;left:520px;">
			<input type="text" class="form-control" placeholder="Search"></input>
		</div>
		</div>
		</div>

    </body>




    <script>

$(function() {
    $('#node_editor').hide();
    $('#path_editor').hide();
    //$( "#draggable" ).draggable();
  });

	var customMarker = {
      		path: google.maps.SymbolPath.CIRCLE,
		fillColor: '#492365',
		strokeColor : 'white',
		strokWeight : 10,
      		scale: 5
    	};

    var taginputs = new Array();
	var selected = new Array();
	var paths = new Array();
    	var editing = false;
  	var selecting = false;
	var multi = false;
	var keys = new Array();
    	window.onkeydown = function(e) {
		if (e.keyCode == 18 ) {
    			$('#mode').removeClass('btn-success');
    			$('#mode').addClass('btn-danger');
    			$('#mode').text('Delete Mode');
  			editing = true;
			keys.push(18);
		}
		if (e.keyCode == 16) {
			$('#mode').removeClass('btn-success');
                        $('#mode').addClass('btn-info');
                        $('#mode').text('Select Mode');
                        selecting = true;
			keys.push(16);
		}
		if (keys[0] == 18 && keys[1] == 16) {
  			editing = false;
			multi = true;
		}

	}
		window.onkeyup = function(e) {
			$('#mode').removeClass('btn-danger');
                        $('#mode').removeClass('btn-info');
    			$('#mode').addClass('btn-success');
    			$('#mode').text('Insert Mode');
  			editing = false;
  			selecting = false;
			multi = false;
			keys = new Array();
			selected.forEach(function(data) {
				data.setIcon('');
			});
			paths.forEach(function(data) {
				data.setOptions({strokeColor : "#492365"});
			});
		}
 		// mode will be used to switch between diffrent modes on the map to allow editing and test queries 
    	//var mode = 'insert';
    	var nodes = [];
    	var map;
    	var serverURL = "http://wenz1.duckdns.org";
  		var socket = io.connect(serverURL); 
		var startPoint = undefined;

		
		function drawMarker(latLng, data) {
			var marker = new google.maps.Marker({title: data + " - " +latLng.lat()+", "+latLng.lng(), position: latLng, map: map});
			marker['data'] = data;
			marker['relationships'] = new Array();
			google.maps.event.addListener(marker, 'click', function() { 
				if (editing) {

					// delete the node that was clicked
					$.ajax({
						url:marker['data']+"/relationships/all",
						type:"GET",
						contentType:"application/json; charset=utf-8",
						dataType:"json",
						success: function(data){
							data.forEach(function(r) {
								$.ajax({
									url:r.self,
									type:"DELETE",
									contentType:"application/json; charset=utf-8",
									async: false,
									dataType:"json",
									complete: function(data){}
								});
			     			});

			     			// delete the paths linked to the node that was clicked
					     	$.ajax({
	  							url:marker['data'],
	  							type:"DELETE",
	  							contentType:"application/json; charset=utf-8",
	  							dataType:"json",
	  							success: function(data){
	  								marker['relationships'].forEach(function(r){
	  									r.setMap(null);
	  								});
	  								marker.setMap(null);
					     		}
	  					});
					    }
					});
				} else if (selecting) {
					if (multi) {
						selected.push(marker);
						marker.setIcon(customMarker);
						console.log(selected);	
					} else {
						// get the node.  This method will return the URI's for available neo4j operations
						$.ajax({
							url:marker['data'],
							type:"GET",
							contentType:"application/json; charset=utf-8",
							dataType:"json",
							success: function(data) {
								// get the id of the node
								var search_string = "/db/data/node/";
								var position = marker['data'].indexOf(search_string);
								position += search_string.length;
								var nodeid = marker['data'].substring(position);

								// put the node id into the node editor window
								$('#nodeid').val(nodeid);

								// get the node labels
								$.ajax({
                        			url:marker['data']+"/labels",
                        			type:"GET",
									contentType:"application/json; charset=utf-8",
									dataType:"json",
									success: function(labels) {
										console.log(data['data']);
										//data['data']['labels'] = labels;
										//data['data']['uri'] = marker['data'];
										
										//angular.element($('input')[1]).scope().node = new Array();
										taginputs.forEach(function(t) {
											t.tagsinput('removeAll')
										});
										angular.element($('input')[1]).scope().node = data['data'];
										angular.element($('input')[1]).scope().$apply();
									}
								});
							}
						});
						$('#node_editor').show();
						$('#path_editor').hide();
					}
				} else {
					if (startPoint == undefined) {
						startPoint = marker;
					} else {
						createRelationship(marker);
					}
				}
			});
			return marker;
		}

		function createLable(marker) {
			data = $('#labels').tagsinput('items');
			console.log(data);
			$.ajax({
                        	url:marker['data']+"/labels",
                               	type:"POST",
				data: JSON.stringify(data), //'["Destination"]',
                                contentType:"application/json; charset=utf-8",
                               	dataType:"json",
                               	success: function(data){
                               		console.log(data); 
				}
                	});
		}

		function drawLine(m1, m2, data) {
			var LinePath = new google.maps.Polyline({
				path: [m1.getPosition(), m2.getPosition()],
				geodesic: true,
    				strokeColor: '#492365',
    				strokeOpacity: 0.75,
    				strokeWeight: 4
			});

			LinePath['data'] = data;
			m1['relationships'].push(LinePath);
			m2['relationships'].push(LinePath);

			console.log(m1);

			google.maps.event.addListener(LinePath, 'click', function() {
				if (selecting) {
					if (multi) {
						paths.push(LinePath);
						LinePath.setOptions({strokeColor: "#F00"});
					} else {

 						$.ajax({
                                                        url:LinePath['data'],
                                                        type:"GET",
                                                        contentType:"application/json; charset=utf-8",
                                                        dataType:"json",
                                                        success: function(data) {
								data['uri'] = LinePath['data'];
								taginputs.forEach(function(t) {
									t.tagsinput('removeAll')
								});
								angular.element($('input')[1]).scope().path = {"uri": data['self'],  "type":[data['type']]};
								angular.element($('input')[1]).scope().$apply();
							}
						});
						$('#path_editor').show();		
						$('#node_editor').hide();		
					}
				}
				if (editing) {
					$.ajax({
						url:LinePath['data'],
						type:"DELETE",
						contentType:"application/json; charset=utf-8",
						async: false,
						dataType:"json",
						success: function(data){
							LinePath.setMap(null);
						}
					});
				} else {
				}
    		});
			LinePath.setMap(map);
		}

		function createRelationship(marker) {
			
			var distance = google.maps.geometry.spherical.computeDistanceBetween(startPoint.getPosition(), marker.getPosition());
			var labels = $('#path_type').tagsinput('items')[0];
			$.ajax({
  				url:marker.data+'/relationships',
  				type:"POST",
  				data: '{"to" : "' + startPoint.data + '", "data": {"distance" : ' + distance + '},  "type" : "' + labels + '" }',
  				contentType:"application/json; charset=utf-8",
  				dataType:"json",
  				success: function(data){
  					drawLine(startPoint, marker,  data.self);
  					socket.emit('relationship', { n1 : {lat: startPoint.getPosition().lat(), lng: startPoint.getPosition().lng()}, n2 : {lat: marker.getPosition().lat(), lng: marker.getPosition().lng()}});
  					startPoint = undefined;
  				}
			});
		}

		function createNode(latLng) {
			var labels = $('#labels').tagsinput('items');
			//var data = '{"name" : "A2 Parking", "type": "Parking Lot", "level" : 1, "abbrv":"AD", "lat" : '+ latLng.lat() +', "lon" : '+ latLng.lng() +' }';
			var data = '{"lat" : '+ latLng.lat() +', "lon" : '+ latLng.lng() +' }';

			$.ajax({
  				url: serverURL + ':7474/db/data/node',
  				type:"POST",
  				data: data,
  				contentType:"application/json; charset=utf-8",
  				dataType:"json",
  				success: function(data){
  					drawMarker(latLng, data.self);
  					socket.emit('marker', { node: data.self, lat: latLng.lat(), lon: latLng.lng()});
  					labels.push("Waypoint"); // always add waypoint to the nodes
  					$.ajax({
  						url:data.self + "/labels",
		  				type:"POST",
		  				data: JSON.stringify(labels),
		  				contentType:"application/json; charset=utf-8",
		  				dataType:"json",
		  				success: function(data){
		  					console.log(data);
		  				}
					});
  					$.ajax({
  						url: serverURL + ':7474/db/data/index/node/geom',
		  				type:"POST",
		  				data: '{"key" : "dummy", "value" : "dummy", "uri" : "'+ data.self +'"}',
		  				contentType:"application/json; charset=utf-8",
		  				dataType:"json",
		  				success: function(data){
		  					console.log(data);
		  				}
					});
  				}
			});
		}

		function initialize() {
  			var mapOptions = {
    				zoom: 17,
    				mapTypeId: google.maps.MapTypeId.ROADMAP
  			}
  
			map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
			map.setCenter(new google.maps.LatLng(41.192778,-111.944799));

			// load nodes/paths from database
			$.ajax({
  				url: serverURL + ':7474/db/data/cypher',
  				type:"POST",
  				//data: '{"query": "MATCH (n) RETURN ID(n), n.lat, n.lon LIMIT 1000"}',
  				//data: {"query": "MATCH (n) WHERE n.name = 'WAY-POINT' RETURN ID(n), n.lat, n.lon LIMIT 500"},
  				//data: {"query": "MATCH (n:Waypoint) RETURN ID(n), n.lat, n.lon LIMIT 500"},
  				data: {"query": "MATCH (n) WHERE n:Waypoint OR n:Destination RETURN ID(n), n.lat, n.lon LIMIT 1000"},
  				//contentType:"application/json; charset=utf-8",
  				dataType:"json",
  				success: function(data){
  					data.data.forEach(function(node) {
  						var marker = drawMarker(new google.maps.LatLng(node[1],node[2]), serverURL + ":7474/db/data/node/" + node[0]);
  						nodes[node[0]] = marker;
  					});

  					$.ajax({
  						url: serverURL + ':7474/db/data/cypher',
  						type:"POST",
  						data: {"query": "MATCH (a)-[r]->(b) WHERE a:Waypoint OR a:Destination RETURN ID(a),ID(b),r LIMIT 1000"},
  						//contentType:"application/json; charset=utf-8",
  						dataType:"json",
  						success: function(data){
  							data.data.forEach(function(lines) {
  								drawLine(nodes[lines[0]], nodes[lines[1]], lines[2].self)
  								//loadLine(nodes[lines[0]], nodes[lines[1]]);
  							});
  						}
					});
  				}
			});

			
			google.maps.event.addListener(map, 'click', function(event) {
				if (!selecting && !editing) {
    					createNode(event.latLng);
				}
			});
		}
		
		
		google.maps.event.addDomListener(window, 'load', initialize);


		// this will allow the map to update as other are editing
		socket.on("relationship", function(data){
			var m1  = new google.maps.LatLng(data.n1.lat,data.n1.lng);
			var m2  = new google.maps.LatLng(data.n2.lat,data.n2.lng)
			console.log(m1);
			var LinePath = new google.maps.Polyline({
				path: [m1, m2],
				geodesic: true,
    				strokeColor: '#492365',
    				strokeOpacity: 0.75,
    				strokeWeight: 2
			});

			google.maps.event.addListener(LinePath, 'click', function() {
				console.log(LinePath);
    			alert('you clicked polyline');
    		});

			LinePath.setMap(map);
		});
		
	socket.on("update", function(data) {
		var marker = new google.maps.Marker({
			position: new google.maps.LatLng(data.lat, data.lng),
			map: map,
			animation: google.maps.Animation.DROP
		});
			
		marker['data'] = data.node;

		google.maps.event.addListener(marker, 'click', function() { 	
			if (startPoint == undefined) {
				startPoint = marker;
			} else {
				createRelationship(marker);
			}
		});	
	});

  </script>
<script src="js/bootstrap-tagsinput.min.js"></script>
<script src="js/typeahead.min.js"></script>
<script src="js/hogan.min.js"></script>
<script src="js/angular.min.js"></script>
<script>
	app = angular.module('Nodes', []);
	
	app.directive('taginput', function() {
        	return {
            		restrict: 'AE',
            		require: 'ngModel',
            		scope: {
                		freeInput: '='
            		},
            		link: function(scope, elem, attrs, ngModel) {
               			//console.log(scope.freeInput);
               			//elem.tagsinput({freeInput: false});
               			taginputs.push(elem);
               			//console.log(taginputs);
               			inputType = (scope.freeInput ? true : false);
              	 		elem.tagsinput({confirmKeys: [13, 44], freeInput: inputType});
               			elem.tagsinput('input').typeahead({
                    			local : ["Destination", "Waypoint"]
                		}).bind('typeahead:selected', $.proxy(function(obj, datum){
                    			this.tagsinput('add', datum.value);
                    			this.tagsinput('input').typeahead('setQuery','');
                		}, elem));

                		ngModel.$formatters.push(function(val){
							if (typeof val !== 'undefined') {
								if (val.constructor === Array) {
									elem.tagsinput('add', val.join(","));
								}
								else {
									elem.tagsinput('add', val);
								}
							}
                		});

                		ngModel.$parsers.push(function(val) {
                    			return val.split(',');
                		});
            		}
        	};
    	});

	app.controller('NodeController', function($scope, $http, $location) {
		$scope.node = {name : ""};
		$scope.path = {name : ""};

		$scope.updateNode = function() {
			console.log($scope);
			console.log('angular updateNode');
			console.log(properties);
			console.log(labels);
			var tmp = angular.copy($scope.node);
			var tmp = angular.element($('input')[1]).scope().node;
			var uri = tmp.uri;
			var properties = tmp;
			var labels  = tmp.labels;			
			delete properties['uri'];
			delete properties['labels'];
			
			$http.put(uri+'/properties', properties);
			$http.put(uri+'/labels', labels);
		};
	});




	//************************************************************************************************************
	//  These 2 click methods (on #node_editor_save and #node_editor_close) are a temporary fix.  Klint originally 
	// 	created this page to update the nodeproperties using the angular framework but I don't currently 
	//	understand Angular and since hisway of doing it was not working correctly, I added this as a temporary fix.
	//		Jeff Wenzbauer 03/30/2015
	//************************************************************************************************************
	$('#node_editor_save').click(function() {
		var properties = angular.element($('input')[1]).scope().node;

		// if(properties.constructor === Array) {
		// 	console.log('tags is not an object');
		// 	// properties.tags = "";
		// }

		$.ajax({
		  	url: serverURL + ":7474/db/data/node/" + $('#nodeid').val() + "/properties",
		  	method: 'PUT',
		  	data: properties
		}).done(function(data) {
			console.log('ajax done');
			console.log(data);

			// hide the window where the user can type node properties
			$('#node_editor').hide();

			// clear out the tags/labels boxes
			$('#tags,#labels').tagsinput('removeAll');
		}).fail(function() {
			console.log('request failed');
		});
	});

	$('#node_editor_close').click(function() {
		// hide the window where the user can type node properties
		$('#node_editor').hide();

		// clear out the tags/labels boxes
		$('#tags,#labels').tagsinput('removeAll');
	});
	//************************************************************************************************************
	
</script>
